.App {
  text-align: center;
}

* {
  padding: 10px;
}

a,
a:hover {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

a:hover {
  font-size: 1.2rem;
}

@media (prefers-reduced-motion: no-preference) {
}

.active {
  color: black;
  font-weight: 500;
}
